.pop-up {
    position: fixed;
    top: 7em;
    left: 40em;
    width: 35em;
    height: 40em;
    border-radius: 7.5px;
    border: 4px solid rgb(56, 102, 255);
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 187px;
    margin-top: 5px;
}

.userName {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.userName input[type="text"] {
    width: 17em;
    height: 30px;
    font-size: 16px;
    margin-left: 100px;
}

.address {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.address input[type="text"] {
    width: 17em;
    height: 30px;
    font-size: 16px;
    margin-left: 88px;
}

.fileLink {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.fileLink input[type="text"] {
    width: 17em;
    height: 30px;
    font-size: 16px;
    margin-left: 86px;
}

.companyName {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.companyName input[type="text"] {
    width: 17em;
    height: 30px;
    font-size: 16px;
    margin-left: 72px;
}

.city {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.city input[type="text"] {
    width: 17em;
    height: 30px;
    font-size: 16px;
    margin-left: 129px;
}

.postalCode {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.postalCode input[type="text"] {
    width: 17em;
    height: 30px;
    font-size: 16px;
    margin-left: 69.5px;
}


/* Dropdown boxes */

.country {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.country select[name="ISO"] {
    width: 14.25em;
    margin-left: 88px;
    outline: none;
}

.skuSelect {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.skuSelect select[name="SKU"] {
    width: 14.25em;
    margin-left: 125.3px;
    outline: none;
}

.compSelect {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.compSelect select[name="Component"] {
    width: 14.25em;
    margin-left: 50px;
    outline: none;
}
