.pop-up {
    position: fixed;
    top: 19px;
    left: 500px;
    width: 650px;
    height: 700px;
    border-radius: 7.5px;
    border: 4px solid rgb(56, 102, 255);
}

.popup-inner {
    position: absolute;
    height: 692px;
    border-radius: 3px;
    background-color: white;
}

.userName {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.userName input[type="text"] {
    color: black;
    border: none;
    height: 37px;
    font-size: 24px;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}

.skuSelect {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.skuSelect select[name="SKU"] {
    width: 190px;
    outline: none;
}

.compSelect {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 14.9px;
    margin-top: 30px;
}

.compSelect select[name="Component"] {
    width: 95px;
    outline: none;
}

.popup-inner .close-btn {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    top: 5px;
    left: 607px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-color: black;
}

.close-btn:hover {
    background-color: rgb(197, 197, 197);
}

