#pop-up {
  width: 80%;
  position: relative;
  top: 6.5vh;
  display: flex;
  height: 90vh;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

/* Main body of the New Order boxes */
.popup1, .popup2, .popup3  {
  background-color: white;
  border-radius: 7.5px;
  margin: 1em;
  padding: 2em;
  padding-right: 4em;
}

#SKUButtonWrapper {
  margin: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SKUButton {
  background-color: rgb(56, 102, 255);
  font-size: 1.2em;
  font-weight: bold;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  color:white;
  border: none;
  outline: none;
}

.SKUButton:hover {
  background-color: rgb(0, 60, 255);
}

/* Header of the box */
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}

/* Everything below will control the individual user inputs */
.userName {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
}

.userName input[type="text"] {
    width: 20.10em;
    height: 30px;
    font-size: 16px;
    margin-left: 108px;
}

.companyName {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.companyName input[type="text"] {
    width: 20em;
    height: 30px;
    font-size: 16px;
    margin-left: 67px;
}

/* Below are the 2nd Box controls */
.title2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10.5em;
    margin-top: 1em;
}

.address {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
}

.address input[type="text"] {
    width: 20em;
    height: 30px;
    font-size: 16px;
    margin-left: 86px;
}

.city {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 21px;
    margin-top: 30px;
}

.city input[type="text"] {
    width: 20em;
    height: 30px;
    font-size: 16px;
    margin-left: 135px;
}

.postalCode {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.postalCode input[type="text"] {
    width: 20em;
    height: 30px;
    font-size: 16px;
    margin-left: 40.25px;
}

.country {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 30px;
}

.country select[name="ISO"] {
    width: 13.3em;
    margin-left: 88px;
    outline: none;
}

/* Below are the 3rd Box controls */
.title3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 11.7em;
    margin-top: 1em;
}

.fileLink {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 30px;
}

.fileLink input[type="text"] {
    width: 20em;
    height: 30px;
    font-size: 16px;
    margin-left: 95px;
}

.skuSelect {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-top: 30px;
}

.skuSelect input[name="SKU"] {
    width: 13.3em;
    height: 30px;
    margin-left: 144.5px;
}

.compSelect {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 25.25px;
    margin-top: 30px;
}

.compSelect select[name="Component"] {
    width: 13.3em;
    margin-left: 50px;
    outline: none;
}
