/* Controls the front-end page */
#ViewWrapper {
  width: 98%;
  position: relative;
  top: 6.5vh;
  display: flex;
  height: 90vh;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  
  font-weight: bold;
}