.tableEntry {
    display: flex;  
    border: 1px solid gray;
}

.holder {
    width: 350px;
    margin: 10px;
}

/* Min-height will change the spacing inside the box from the word */
.orderCustName {
    min-height: 5px;
    font-size: 24px;
    font-weight: bold;
}

.orderDate {
    min-height: 5px;
    font-size: 24px;
    font-weight: bold;
}

.orderStatus {
    min-height: 5px;
    font-size: 24px;
    font-weight: bold;
}




