.api-button {
    background-color: skyblue;
    text-decoration: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 30px;
    position: sticky;
    top: 2.5%;
    right: 87%;
    border-radius: 30px;
    color:black;
    outline: none;
    border: none;
}

.api-button:hover {
    background-color: gray;
}

