
/* Note: Find a way to have it dynamically scalable */
.api-button {
    background-color: skyblue;
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
    width: 175px;
    position: absolute;
    top: 3%;
    right: 87%;
    align-items: center;
    border-radius: 25px;
    color:black;
    outline: none;
    border: none;
}

.api-button:hover {
    background-color: gray;
}

